body{
    margin-left: 150px;
    margin-right: 150px;
    }
    img{
        width: 100px;
    
    }
    h3{
        color:grey;
        
    }
    a{
        color: #9e9e9e;
    }
    a:hover{
        background-color: blue;
        border-radius: 70px;
    }
    hr{
        width: 800px;
    }
    button{
        width: 100px;
        height: 30px;
        border: none;
        background-color: #9e9e9e;
    }
    button:hover{
        background-color: blue;
    }
    